In [1]:
def assess_two_letter_elements(df):
    """
    Find the two letter elements in dataframe.

    Parameters
    ----------
    df : pandas.DataFrame
        Dataframe which requires preprocessing.

    Returns
    -------
    two_letter_elements : list
        List with found two letter elements
    """

    # Search for unique characters in SMILES strings
    unique_chars = set(df.canonical_smiles.apply(list).sum())
    # Get upper and lower case letters only
    upper_chars = []
    lower_chars = []
    for entry in unique_chars:
        if entry.isalpha():
            if entry.isupper():
                upper_chars.append(entry)
            elif entry.islower():
                lower_chars.append(entry)
    print(f"Upper letter characters {sorted(upper_chars)}")
    print(f"Lower letter characters {sorted(lower_chars)}")

    # List of all possible periodic elements
    periodic_elements = [
        "Ac",
        "Al",
        "Am",
        "Sb",
        "Ar",
        "As",
        "At",
        "Ba",
        "Bk",
        "Be",
        "Bi",
        "Bh",
        "B",
        "Br",
        "Cd",
        "Ca",
        "Cf",
        "C",
        "Ce",
        "Cs",
        "Cl",
        "Cr",
        "Co",
        "Cn",
        "Cu",
        "Cm",
        "Ds",
        "Db",
        "Dy",
        "Es",
        "Er",
        "Eu",
        "Fm",
        "Fl",
        "F",
        "Fr",
        "Gd",
        "Ga",
        "Ge",
        "Au",
        "Hf",
        "Hs",
        "He",
        "Ho",
        "H",
        "In",
        "I",
        "Ir",
        "Fe",
        "Kr",
        "La",
        "Lr",
        "Pb",
        "Li",
        "Lv",
        "Lu",
        "Mg",
        "Mn",
        "Mt",
        "Md",
        "Hg",
        "Mo",
        "Mc",
        "Nd",
        "Ne",
        "Np",
        "Ni",
        "Nh",
        "Nb",
        "N",
        "No",
        "Og",
        "Os",
        "O",
        "Pd",
        "P",
        "Pt",
        "Pu",
        "Po",
        "K",
        "Pr",
        "Pm",
        "Pa",
        "Ra",
        "Rn",
        "Re",
        "Rh",
        "Rg",
        "Rb",
        "Ru",
        "Rf",
        "Sm",
        "Sc",
        "Sg",
        "Se",
        "Si",
        "Ag",
        "Na",
        "Sr",
        "S",
        "Ta",
        "Tc",
        "Te",
        "Ts",
        "Tb",
        "Tl",
        "Th",
        "Tm",
        "Sn",
        "Ti",
        "W",
        "U",
        "V",
        "Xe",
        "Yb",
        "Y",
        "Zn",
        "Zr",
    ]

    # The two_char_elements list contains all two letter elements
    # which can be generated by all possible combination of upper x lower characters
    # and are valid periodic elements.
    two_char_elements = []
    for upper in upper_chars:
        for lower in lower_chars:
            ch = upper + lower
            if ch in periodic_elements:
                two_char_elements.append(ch)

    # This list is then reduced to the subset of two-letter elements
    # that actually appear in the SMILES strings, specific to our data set.
    two_char_elements_smiles = set()
    for char in two_char_elements:
        if df.canonical_smiles.str.contains(char).any():
            two_char_elements_smiles.add(char)

    return two_char_elements_smiles

In [2]:
import pandas as pd

with open("chebi_smiles_com_classes.txt", "r") as f:
    smiles = [i.strip().split(' ') for i in f.readlines()]
    f.close()

molecules_by_classes = []
for s in smiles:
    molecules_by_classes.append({"canonical_smiles":s[0],"classes":s[1].split("@")})

df = pd.DataFrame.from_dict(molecules_by_classes)

smiles = [i["canonical_smiles"] for i in molecules_by_classes]

In [3]:
# Index of the longest SMILES string
longest_smiles = max(df["canonical_smiles"], key=len)
longest_smiles_index = df.canonical_smiles[df.canonical_smiles == longest_smiles].index.tolist()
print(f"Longest SMILES: {longest_smiles}")
print(f"Contains {len(longest_smiles)} characters, index in dataframe: {longest_smiles_index[0]}.")
smiles_maxlen = len(longest_smiles)
# NBVAL_CHECK_OUTPUT

Longest SMILES: Nc1ccn([C@@H]2O[C@H](COP(O)(=O)O[C@@H]3[C@@H](COP(O)(=O)O[C@@H]4[C@@H](COP(O)(=O)O[C@@H]5[C@@H](COP(O)(=O)O[C@@H]6[C@@H](COP(O)(=O)O[C@@H]7[C@@H](COP(O)(=O)O[C@@H]8[C@@H](COP(O)(=O)O[C@@H]9[C@@H](COP(O)(=O)O[C@@H]%10[C@@H](COP(O)(=O)O[C@@H]%11[C@@H](COP(O)(=O)O[C@@H]%12[C@@H](COP(O)(=O)O[C@@H]%13[C@@H](COP(O)(=O)O[C@@H]%14[C@@H](COP(O)(=O)O[C@@H]%15[C@@H](COP(O)(=O)O[C@@H]%16[C@@H](COP(O)(=O)O[C@@H]%17[C@@H](COP(O)(=O)O[C@@H]%18[C@@H](COP(O)(=O)O[C@@H]%19[C@@H](COP(O)(=O)O[C@@H]%20[C@@H](COP(O)(=O)O[C@@H]%21[C@@H](COP(O)(=O)O[C@@H]%22[C@@H](COP(O)(=O)O[C@@H]%23[C@@H](COP(O)(=O)O[C@@H]%24[C@@H](COP(O)(=O)O[C@@H]%25[C@@H](CO)O[C@H]([C@@H]%25O)n%25cnc%26c%25nc(N)[nH]c%26=O)O[C@H]([C@@H]%24O)n%24ccc(=O)[nH]c%24=O)O[C@H]([C@@H]%23O)n%23ccc(=O)[nH]c%23=O)O[C@H]([C@@H]%22O)n%22ccc(=O)[nH]c%22=O)O[C@H]([C@@H]%21O)n%21cnc%22c%21nc(N)[nH]c%22=O)O[C@H]([C@@H]%20O)n%20cnc%21c%20nc(N)[nH]c%21=O)O[C@H]([C@@H]%19O)n%19ccc(N)nc%19=O)O[C@H]([C@@H]%18O)n%18cnc%19c%18nc(N)[nH]c%19=O)O[C@H]([C@@H]%17O)n%17cnc%18c(N)ncnc%17%18)O[C@H]([C@@H]%16O)n%16ccc(N)nc%16=O)O[C@H]([C@@H]%15O)n%15cnc%16c%15nc(N)[nH]c%16=O)O[C@H]([C@@H]%14O)n%14ccc(=O)[nH]c%14=O)O[C@H]([C@@H]%13O)n%13ccc(N)nc%13=O)O[C@H]([C@@H]%12O)n%12ccc(N)nc%12=O)O[C@H]([C@@H]%11O)n%11ccc(N)nc%11=O)O[C@H]([C@@H]%10O)n%10cnc%11c(N)ncnc%10%11)O[C@H]([C@@H]9O)n9ccc(N)nc9=O)O[C@H]([C@@H]8O)n8cnc9c(N)ncnc89)O[C@H]([C@@H]7O)n7ccc(=O)[nH]c7=O)O[C@H]([C@@H]6O)n6cnc7c6nc(N)[nH]c7=O)O[C@H]([C@@H]5O)n5cnc6c(N)ncnc56)O[C@H]([C@@H]4O)n4cnc5c4nc(N)[nH]c5=O)O[C@H]([C@@H]3O)n3ccc(N)nc3=O)[C@@H](OP(O)(O)=O)[C@H]2O)c(=O)n1
Contains 1566 characters, index in dataframe: 33429.

In [4]:
# Index of the shortest SMILES string
shortest_smiles = min(df["canonical_smiles"], key=len)
shortest_smiles_index = df.canonical_smiles[df.canonical_smiles == shortest_smiles].index.tolist()
print(f"Shortest SMILES: {shortest_smiles}")
print(
    f"Contains {len(shortest_smiles)} characters, index in dataframe: {shortest_smiles_index[0]}."
)
# NBVAL_CHECK_OUTPUT

Shortest SMILES: NO
Contains 2 characters, index in dataframe: 7251.

In [5]:
classes = df['classes'].explode()

set_classes = list(set(classes))
print(f"There are {len(set_classes)} different classes from {len(classes)} set in the data.")

There are 347 different classes from 65849 set in the data.

In [6]:
new_data = []
for row in df['classes']:
    new_row = [1 if elem in row else 0 for elem in set_classes]
    new_data.append(new_row)

one_hot_classes = pd.DataFrame(new_data, columns=set_classes)

In [7]:
one_hot_classes

,CHEBI_63299,CHEBI_49103,CHEBI_33566,CHEBI_35610,CHEBI_33659,CHEBI_36683,CHEBI_76224,CHEBI_23443,CHEBI_36248,CHEBI_46867,...,CHEBI_35703,CHEBI_61379,CHEBI_64915,CHEBI_33552,CHEBI_35480,CHEBI_22483,CHEBI_2468,CHEBI_36586,CHEBI_61697,CHEBI_25248
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36882,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36883,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36884,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from collections import Counter

contagem = Counter(classes)

item_mais_comum = contagem.most_common(1)[0]
print(f'O item mais comum é: {item_mais_comum[0]}, ocorrendo {item_mais_comum[1]} vezes. Correspondendo a {100*item_mais_comum[1]/len(classes)}% do dataset.')

item_menos_comum = contagem.most_common()[:-2:-1][0]
print(f'O item menos comum é: {item_menos_comum[0]}, ocorrendo {item_menos_comum[1]} vez.')

O item mais comum é: CHEBI_16670, ocorrendo 6176 vezes. Correspondendo a 9.379033850172364% do dataset.
O item menos comum é: CHEBI_26469, ocorrendo 1 vez.

Encontrando classes amostragem baixa

In [9]:
threshold = 1.0

less_than_threshold = [element for element, count in contagem.items() if (count / len(classes)) * 100 < threshold]
print(f'There are {len(less_than_threshold)} elements corresponding to less than {threshold}% of the dataset: {less_than_threshold}')

There are 331 elements corresponding to less than 1.0% of the dataset: ['CHEBI_46867', 'CHEBI_26188', 'CHEBI_35620', 'CHEBI_35674', 'CHEBI_67079', 'CHEBI_33860', 'CHEBI_33281', 'CHEBI_36047', 'CHEBI_25248', 'CHEBI_38163', 'CHEBI_38958', 'CHEBI_3992', 'CHEBI_76224', 'CHEBI_22587', 'CHEBI_36709', 'CHEBI_46848', 'CHEBI_35441', 'CHEBI_35703', 'CHEBI_78298', 'CHEBI_83925', 'CHEBI_33859', 'CHEBI_35748', 'CHEBI_35366', 'CHEBI_18946', 'CHEBI_26195', 'CHEBI_68495', 'CHEBI_35718', 'CHEBI_26878', 'CHEBI_51689', 'CHEBI_76971', 'CHEBI_15705', 'CHEBI_23665', 'CHEBI_46874', 'CHEBI_75767', 'CHEBI_22315', 'CHEBI_61778', 'CHEBI_46761', 'CHEBI_33558', 'CHEBI_26979', 'CHEBI_37581', 'CHEBI_33572', 'CHEBI_76946', 'CHEBI_78840', 'CHEBI_35475', 'CHEBI_35472', 'CHEBI_48975', 'CHEBI_50995', 'CHEBI_35358', 'CHEBI_22586', 'CHEBI_50267', 'CHEBI_23990', 'CHEBI_29347', 'CHEBI_32955', 'CHEBI_149553', 'CHEBI_33575', 'CHEBI_22723', 'CHEBI_37143', 'CHEBI_39447', 'CHEBI_88188', 'CHEBI_51569', 'CHEBI_35990', 'CHEBI_61655', 'CHEBI_140325', 'CHEBI_63726', 'CHEBI_27311', 'CHEBI_131604', 'CHEBI_50903', 'CHEBI_49103', 'CHEBI_35480', 'CHEBI_76967', 'CHEBI_50904', 'CHEBI_25036', 'CHEBI_25872', 'CHEBI_76956', 'CHEBI_23003', 'CHEBI_23066', 'CHEBI_51683', 'CHEBI_48470', 'CHEBI_15841', 'CHEBI_36785', 'CHEBI_32952', 'CHEBI_33823', 'CHEBI_33282', 'CHEBI_64915', 'CHEBI_24689', 'CHEBI_35352', 'CHEBI_36963', 'CHEBI_33704', 'CHEBI_26421', 'CHEBI_47622', 'CHEBI_23643', 'CHEBI_83403', 'CHEBI_83822', 'CHEBI_24127', 'CHEBI_33308', 'CHEBI_38164', 'CHEBI_85234', 'CHEBI_38338', 'CHEBI_59554', 'CHEBI_36059', 'CHEBI_58945', 'CHEBI_60834', 'CHEBI_76507', 'CHEBI_17984', 'CHEBI_36699', 'CHEBI_36834', 'CHEBI_50113', 'CHEBI_35757', 'CHEBI_36683', 'CHEBI_22798', 'CHEBI_75763', 'CHEBI_35692', 'CHEBI_76976', 'CHEBI_24828', 'CHEBI_50994', 'CHEBI_17792', 'CHEBI_84735', 'CHEBI_79020', 'CHEBI_62733', 'CHEBI_28965', 'CHEBI_15904', 'CHEBI_33566', 'CHEBI_23697', 'CHEBI_36054', 'CHEBI_78804', 'CHEBI_36132', 'CHEBI_23252', 'CHEBI_22712', 'CHEBI_50047', 'CHEBI_36586', 'CHEBI_76206', 'CHEBI_35442', 'CHEBI_22160', 'CHEBI_35213', 'CHEBI_84087', 'CHEBI_57560', 'CHEBI_75768', 'CHEBI_26144', 'CHEBI_51867', 'CHEBI_24129', 'CHEBI_61355', 'CHEBI_27136', 'CHEBI_35868', 'CHEBI_86264', 'CHEBI_15734', 'CHEBI_57643', 'CHEBI_63367', 'CHEBI_24400', 'CHEBI_27116', 'CHEBI_48578', 'CHEBI_26658', 'CHEBI_23824', 'CHEBI_23357', 'CHEBI_38101', 'CHEBI_38106', 'CHEBI_86328', 'CHEBI_83228', 'CHEBI_35693', 'CHEBI_17087', 'CHEBI_25558', 'CHEBI_50266', 'CHEBI_50018', 'CHEBI_36130', 'CHEBI_38104', 'CHEBI_51026', 'CHEBI_63353', 'CHEBI_25698', 'CHEBI_35284', 'CHEBI_76567', 'CHEBI_18035', 'CHEBI_33184', 'CHEBI_18379', 'CHEBI_27171', 'CHEBI_35716', 'CHEBI_61120', 'CHEBI_59132', 'CHEBI_63551', 'CHEBI_83399', 'CHEBI_24833', 'CHEBI_24995', 'CHEBI_17478', 'CHEBI_35627', 'CHEBI_33570', 'CHEBI_35294', 'CHEBI_26893', 'CHEBI_2468', 'CHEBI_35313', 'CHEBI_36700', 'CHEBI_26513', 'CHEBI_51737', 'CHEBI_38166', 'CHEBI_65323', 'CHEBI_51702', 'CHEBI_37407', 'CHEBI_25697', 'CHEBI_38462', 'CHEBI_35222', 'CHEBI_62732', 'CHEBI_36087', 'CHEBI_61697', 'CHEBI_52217', 'CHEBI_59174', 'CHEBI_50860', 'CHEBI_25000', 'CHEBI_133719', 'CHEBI_27369', 'CHEBI_35436', 'CHEBI_2580', 'CHEBI_78803', 'CHEBI_139592', 'CHEBI_26191', 'CHEBI_35820', 'CHEBI_76964', 'CHEBI_33247', 'CHEBI_24278', 'CHEBI_35267', 'CHEBI_3098', 'CHEBI_51277', 'CHEBI_137684', 'CHEBI_134631', 'CHEBI_38068', 'CHEBI_35481', 'CHEBI_24669', 'CHEBI_24432', 'CHEBI_24913', 'CHEBI_48030', 'CHEBI_47923', 'CHEBI_29067', 'CHEBI_23849', 'CHEBI_51959', 'CHEBI_47891', 'CHEBI_36615', 'CHEBI_23924', 'CHEBI_48705', 'CHEBI_37022', 'CHEBI_36043', 'CHEBI_25703', 'CHEBI_24621', 'CHEBI_24062', 'CHEBI_25696', 'CHEBI_51958', 'CHEBI_33822', 'CHEBI_37734', 'CHEBI_22485', 'CHEBI_24433', 'CHEBI_33598', 'CHEBI_35554', 'CHEBI_83820', 'CHEBI_26764', 'CHEBI_23117', 'CHEBI_35715', 'CHEBI_136889', 'CHEBI_35842', 'CHEBI_78675', 'CHEBI_33709', 'CHEBI_61777', 'CHEBI_33672', 'CHEBI_35274', 'CHEBI_139588', 'CHEBI_61296', 'CHEBI_65321', 'CHEBI_28868', 'CHEBI_33655', 'CHEBI_33552', 'CHEBI_37240', 'CHEBI_62049', 'CHEBI_23217', 'CHEBI_32988', 'CHEBI_33256', 'CHEBI_27933', 'CHEBI_22331', 'CHEBI_23888', 'CHEBI_33836', 'CHEBI_37739', 'CHEBI_26004', 'CHEBI_37554', 'CHEBI_35341', 'CHEBI_23443', 'CHEBI_22562', 'CHEBI_25608', 'CHEBI_38180', 'CHEBI_37622', 'CHEBI_22251', 'CHEBI_26835', 'CHEBI_47778', 'CHEBI_76578', 'CHEBI_22695', 'CHEBI_50858', 'CHEBI_33659', 'CHEBI_38311', 'CHEBI_24698', 'CHEBI_35605', 'CHEBI_18059', 'CHEBI_38716', 'CHEBI_35406', 'CHEBI_33261', 'CHEBI_24651', 'CHEBI_46668', 'CHEBI_26872', 'CHEBI_64709', 'CHEBI_24554', 'CHEBI_26079', 'CHEBI_24043', 'CHEBI_33661', 'CHEBI_26401', 'CHEBI_36248', 'CHEBI_33839', 'CHEBI_63299', 'CHEBI_23132', 'CHEBI_22483', 'CHEBI_36313', 'CHEBI_24531', 'CHEBI_35350', 'CHEBI_26605', 'CHEBI_30879', 'CHEBI_35701', 'CHEBI_36078', 'CHEBI_16247', 'CHEBI_131927', 'CHEBI_26816', 'CHEBI_136859', 'CHEBI_51721', 'CHEBI_83042', 'CHEBI_83045', 'CHEBI_33710', 'CHEBI_25693', 'CHEBI_26561', 'CHEBI_63563', 'CHEBI_26873', 'CHEBI_48888', 'CHEBI_26469']

In [10]:
import statistics

contagens_classes = list(contagem.values())

contagens_classes.sort()

mediana_contagens = statistics.median(contagens_classes)

print(f"A mediana da quantidade de repetições dos itens é: {mediana_contagens}")

A mediana da quantidade de repetições dos itens é: 103

In [11]:
print(f"The max number of classes for smile is: {max(one_hot_classes.sum(axis=1))}")

The max number of classes for smile is: 14

In [12]:
df_selected = df.copy()
df_selected['classes'] = df_selected['classes'].apply(lambda x: [elem for elem in x if elem not in less_than_threshold])
df_selected = df_selected[df_selected['classes'].astype(bool)]
df_selected.reset_index(drop=True, inplace=True)
df_selected

,canonical_smiles,classes
0,[H][C@@]12COc3cc(O)ccc3[C@]1([H])Oc1cc(OC)ccc21,[CHEBI_76924]
1,COC1=C2C=COC2=CC2=C1C(=O)C=C(C)O2,"[CHEBI_35618, CHEBI_76924]"
2,CCn1cc(C(O)=O)c(=O)c2ccc(C)nc12,[CHEBI_25384]
3,OC[C@@H](O)[C@@H](O)C(O)[C@H](O)[C@H](O)CO,[CHEBI_25212]
4,COc1cc(O)c2c(c1)oc(=O)c1c3cc(O)c(O)cc3oc21,"[CHEBI_35618, CHEBI_25212, CHEBI_35610]"
...,...,...
24044,COc1ccc([C@H]2COc3cc(O)ccc3C2)c(O)c1,[CHEBI_76924]
24045,C[C@H]1CN(C(=O)C2=CC=CC=C2C3=CC=CC=C3CO[C@H]1C...,[CHEBI_50996]
24046,[H][C@]12N3CCC[C@@]1(CC)C[C@](O)(C(=O)OC)n1c2c...,[CHEBI_25212]
24047,C[C@@H]1O[C@H]([C@H](O)[C@H](O)[C@H]1O)c1c(O)c...,[CHEBI_76924]
24048,CC(C)[C@H]1OC(=O)C2=CCCN2C(=O)c2coc(CC(=O)C[C@...,[CHEBI_35681]

In [13]:
with open('chebi_selected_smiles.txt', 'w') as f:
    for i, row in df_selected.iterrows():
        f.write(f"{row['canonical_smiles']} {'@'.join(row['classes'])}\n")
f.close()